body {
    background: beige;
    /* display: flex; */
}

.screen {
    display: flex;
    /* justify-content: space-evenly; */
}

.container {
    margin: auto;
    border: 2px solid rgb(96 139 168);

    display: flex;
    flex-wrap: wrap;
    flex: none;
    
    width: 1080px;
}

.grid {
    box-sizing: border-box;
    display: flex;
    border: 2px solid rgb(96 139 168);
    flex: 1 0 auto;
}

.settings {
    flex: 1;
    
}

.empty {
    padding: 0px;
    flex: 1;
}